<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Mechaniky</title>
    <link rel="stylesheet" href="../static/styles/statistika.css">
</head>
<body>
<ul class="nav">
    <li class="icon"><img src="{{ url_for('static', filename='images/icon.png') }}" height="15px"></li>
    <li><a href="{{ url_for('domu') }}"><strong>Domů</strong></a></li> <li><a href="{{ url_for('mechaniky') }}"><strong>Mechaniky</strong></a></li>
    <li><a href="{{ url_for('o_nas') }}"><strong>O nás</strong></a></li>
    <li><a href="{{ url_for('pravidla') }}"><strong>Pravidla</strong></a></li>

    {% if session.get('email') %}
        <li><a href="{{ url_for('tabulka') }}"><strong>Statistika</strong></a></li>
        <li style="float:right;"><a href="{{ url_for('logout') }}"><strong>Odhlásit se</strong></a></li>
        <li style="float:right;">
            <span style="color: white; padding: 14px; display: inline-block;">
                {{ session['email'] }}
            </span>
        </li>
    {% else %}
     <li><a href="{{ url_for('login') }}"><strong>Přihlášení</strong></a></li>
    {% endif %}
    </ul>

    <div class="content">
    <div class="card">
        <h1>Žebříček 10 nejlepších hráčů</h1>
        
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Pořadí</th>
                    <th>Jméno</th>
                    <th>Skóre</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ loop.index }}.</td> <td>{{ item[0] }}</td>      <td>{{ item[1] }}</td>      </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>